<template name="appStudProfile">
	{{#each messages}}
		<div class="alert alert-info">
			<b>{{Fname}} :{{Lname}} :{{Mname}} </b> : {{Course}} <button class="btn btn-danger btn-small btnDelete"> &times; </button>
		</div>
	{{/each}}

<form class="form">
	<input type="text" class="form-control txtFName" placeholder="First Name" />
	<input type="text" class="form-control txtLName" placeholder="Last Name" />
	<input type="text" class="form-control txtMName" placeholder="Middle Name" />
	<input type="text" class="form-control txtCourse" placeholder="Course" />
</form>

</template>